lime==0.2.0.1
matplotlib==3.7.5
nlp==0.4.0
numpy
pandas==2.0.3
pillow==10.3.0
PyYAML==6.0.1
regex==2024.5.10
scikit-image==0.21.0
scikit-learn
scipy==1.10.1
shap==0.44.1
tokenizers==0.19.1
torch==2.3.0
tqdm==4.66.4
transformers==4.40.2